body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1f2022;
    margin: 0;
    font-family: sans-serif
}

.mode-selector {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(71, 53, 73);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 30em;
    width: 30em;
}

.game-container {
    display: none;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(71, 53, 73);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    height: 30em;
    width: 30em;
}

.game-container .back {
    position: relative;
    top: -5em;
    left: -15em;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(250, 235, 215, 0);
    border: 0;
    color: white;
}

.game-container .back svg {
    width: 12em;
    height: 2em;
    cursor: pointer;
}


#flag {
    width: 200px;
    margin: 1rem 0;
    border: 2px solid black;
}

#options button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    background-color: rgb(128, 128, 128);
    border: 1px solid black;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
}

#result {
    font-weight: bold;
    margin-top: 1rem;
}

.mode-selector button {
    padding: 10px;
    color: black;
    background-color: rgb(128, 128, 128);
    border: 1px solid black;
    margin: 10px;
    width: 25em;
    font-size: 15px;
    border-radius: 10px;
    font-family: sans-serif;
}

.mode-selector h1 {
    color: rgb(168, 134, 255);

}