:root {
    --one_light: #606c38;
    --one_dark: #283618;
    --light: #fefae0;
    --two_light: #dda15e;
    --two_dark: #bc6c25;
}

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: #606C38;
    background: linear-gradient(90deg, rgba(96, 108, 56, 1) 0%, rgba(40, 54, 24, 1) 100%);
    margin: 0;
    font-family: sans-serif;
    gap: 3em;
}

.nav {

    button {
        padding: 10px;
        background-color: var(--one_dark);
        color: var(--light);
        font-size: 1em;
        min-width: 5em;
        text-align: center;

        &:hover {
            background-color: var(--one_light);
        }
    }
}

.box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--two_dark);
    padding: 2rem;
    /* border-radius: 10px; */
    height: 30em;

    width: 20%;
    min-width: 15em;

    -webkit-box-shadow: 0px 0px 39px 12px var(--one_dark);
    box-shadow: 0px 0px 39px 12px var(--one_dark);
}

.mode-selector {
    button {
        margin: 10px;
        width: 15em;
        font-size: 20px;
        border-radius: 5px;
        transform-origin: left;
    }

    .selection {
        margin-left: 3em;
    }
}

.progress {
    display: none;

    button {
        background-color: var(--one_dark);
        color: var(--light);
        font-size: 1em;

        &:hover {
            text-decoration: none;
            filter: brightness(1.5);
        }
    }
}

.game-container {
    display: none;

    button {
        font-size: 20px;
        border-radius: 5px;
        transform-origin: center;
        text-align: center;
        background-color: var(--two_light);
        border: 2px solid var(--light);
        margin: 10px;

        &:hover {
            text-decoration: none;
        }
    }


}

.game-container .back {
    position: relative;
    top: -5em;
    left: -15em;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(250, 235, 215, 0);
    border: 0;
    color: white;
}

.game-container .back svg {
    width: 12em;
    height: 2em;
    cursor: pointer;
}


#flag {
    width: 200px;
    margin: 1rem 0;
    border: 2px solid black;
}

button {
    padding: 5px;
    color: black;
    background-color: transparent;
    border: 1px solid transparent;

    font-family: sans-serif;
    transition: all 0.2s;
    text-align: left;
    outline: none;

    &:hover,
    &:focus {
        cursor: pointer;
        text-decoration: underline;
        filter: brightness(120%);
        transform: scale(1.1);
    }
}




button:hover {
    cursor: pointer;
    text-decoration: underline;
    filter: brightness(120%);
}



#result {
    font-weight: bold;
    margin-top: 1rem;
}



.mode-selector h1 {
    color: var(--light);

}

.progress {
    display: none;


}

.progress-table {
    list-style: none;
    padding: 0;
    overflow-y: scroll;

    li {
        background-color: var(--two_light);
        margin-bottom: 10px;
        min-height: 2em;
        padding: 2px;
        text-align: center;
        border: 2px solid var(--one_light);
        transition: background-color 0.3s ease;
    }

}





